.todo-list {
    text-align: left;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
}

.item {
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    position: relative;
}

item:last-child {
    border-bottom: none;
}

.form-check-input {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 50%;
    vertical-align: text-bottom;
}

input[type="checkbox"]:focus {
    outline: none;
}

.form-check-input:checked {
    border-color: #2cb76a;
    border-width: 3px;
}

.form-check-label {
    margin: 0 0 0 15px;
    font-size: 25px;
    font-weight: 100;
    vertical-align: bottom;
}

.form-check-input:checked + .form-check-label::before {
    content: '\f00c';
    font-family: FontAwesome;
    position: absolute;
    left: 15px;
    font-size: 20px;
    top: 16px;
    color: #2cb76a;
}

.footer {
    padding: 10px;
}
.action {
    float: right;
}

.action a {
    text-decoration: none;
    margin-left: 15px;
}

.active {
    border-bottom: 1px solid;
    padding: 5px 0;
}